In [150]:
import pymysql
import mysql.connector

In [3]:
# Pyspark - SQL
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import mean, col, split, regexp_extract, when, lit

In [4]:
spark = SparkSession.builder.config( "spark.jars","/root/hadoop/share/hadoop/tools/lib/mysql-connector-java-8.0.27.jar") \
    .master("local").appName("b2c").getOrCreate()

In [4]:
# #data 를 sql로 부터 불러 오는 법
# spark.read.format("jdbc").option("url","jdbc:mysql:주소")\
#     .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "테이블명") \
#     .option("user", "유저명").option("password", "비밀번호").load()

In [5]:
# #mysql 데이터 추가

# conn = pymysql.connect(host='주소',user='유저명',
#                         password='비밀번호', db='디비명', charset='utf8')

# sql = "INSERT INTO 테이블명 VALUES (%s,%s, %s)"

# with conn:
#     with conn.cursor() as cur:
#         cur.execute(sql, ('','3', '베이비패션'))       
#         conn.commit()

In [6]:
# # #mysql 데이터 추가(category_large)

# conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
#                        user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
#                        db='b2c', charset='utf8')

# sql = "INSERT INTO category_large VALUES (%s,%s, %s)"
# ## need to insert img;
# with conn:
#     with conn.cursor() as cur:
#         cur.execute(sql, ('','의류', 'https://b2c-imagebucket.s3.ap-northeast-2.amazonaws.com/category/1.jpeg'))       
#         cur.execute(sql, ('','가전', 'https://b2c-imagebucket.s3.ap-northeast-2.amazonaws.com/category/2.jpeg'))       
#         cur.execute(sql, ('','생활용품', 'https://b2c-imagebucket.s3.ap-northeast-2.amazonaws.com/category/3.jpeg'))       
#         cur.execute(sql, ('','식품', 'https://b2c-imagebucket.s3.ap-northeast-2.amazonaws.com/category/4.jpeg'))       
#         conn.commit()

In [10]:
# #mysql 데이터 추가(category_mid)

# conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
#                        user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
#                        db='b2c', charset='utf8')

# sql = "INSERT INTO category_mid VALUES (%s,%s, %s)"

# with conn:
#     with conn.cursor() as cur:
#         cur.execute(sql, ('','1', '남성의류'))       
#         cur.execute(sql, ('','1', '여성의류'))       
#         cur.execute(sql, ('','1', '아동의류'))       
#         cur.execute(sql, ('','1', '남녀공용의류'))       
#         cur.execute(sql, ('','1', '액세서리'))
#         cur.execute(sql, ('','1', '신발'))
#         cur.execute(sql, ('','2', '컴퓨터/노트북'))       
#         cur.execute(sql, ('','2', '주방가전'))       
#         cur.execute(sql, ('','2', '세탁기/건조기'))       
#         cur.execute(sql, ('','2', '디스플레이'))       
#         cur.execute(sql, ('','3', '청소용품'))
#         cur.execute(sql, ('','3', '주방용품'))
#         cur.execute(sql, ('','3', '욕실용품'))       
#         cur.execute(sql, ('','4', '육류'))       
#         cur.execute(sql, ('','4', '채소'))       
#         cur.execute(sql, ('','4', '유제품'))       
#         cur.execute(sql, ('','4', '간편식'))
#         cur.execute(sql, ('','4', '음료'))
#         conn.commit()

In [11]:
# #mysql 데이터 추가(category_small)

# conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
#                        user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
#                        db='b2c', charset='utf8')

# sql = "INSERT INTO category_small VALUES (%s,%s, %s)"

# with conn:
#     with conn.cursor() as cur:
#         cur.execute(sql, ('','1', '상의'))       
#         cur.execute(sql, ('','1', '하의'))       
#         cur.execute(sql, ('','1', '언더웨어'))       
#         cur.execute(sql, ('','1', '아우터'))       
#         cur.execute(sql, ('','2', '상의'))       
#         cur.execute(sql, ('','2', '하의'))       
#         cur.execute(sql, ('','2', '언더웨어'))       
#         cur.execute(sql, ('','2', '아우터'))   
#         cur.execute(sql, ('','3', '상의'))       
#         cur.execute(sql, ('','3', '하의'))       
#         cur.execute(sql, ('','3', '언더웨어'))       
#         cur.execute(sql, ('','3', '아우터'))       
#         cur.execute(sql, ('','4', '상의'))       
#         cur.execute(sql, ('','4', '하의'))       
#         cur.execute(sql, ('','4', '아우터'))
#         cur.execute(sql, ('','5', '모자'))
#         cur.execute(sql, ('','5', '스카프/넥타이'))       
#         cur.execute(sql, ('','5', '귀걸이'))       
#         cur.execute(sql, ('','5', '목걸이'))       
#         cur.execute(sql, ('','5', '안경'))       
#         cur.execute(sql, ('','6', '운동화'))
#         cur.execute(sql, ('','6', '구두'))
#         cur.execute(sql, ('','6', '슬리퍼'))       
#         cur.execute(sql, ('','7', '컴퓨터'))       
#         cur.execute(sql, ('','7', '노트북'))       
#         cur.execute(sql, ('','8', '전기밥솥'))       
#         cur.execute(sql, ('','8', '에어프라이기'))
#         cur.execute(sql, ('','8', '전기포트'))
#         cur.execute(sql, ('','8', '믹서기'))       
#         cur.execute(sql, ('','8', '냉장고'))       
#         cur.execute(sql, ('','9', '세탁기'))       
#         cur.execute(sql, ('','9', '건조기'))       
#         cur.execute(sql, ('','10', '티비'))
#         cur.execute(sql, ('','10', '핸드폰'))
#         cur.execute(sql, ('','10', '태블릿'))       
#         cur.execute(sql, ('','11', '청소기'))       
#         cur.execute(sql, ('','11', '빗자루'))       
#         cur.execute(sql, ('','11', '밀대'))       
#         cur.execute(sql, ('','11', '락스'))
#         cur.execute(sql, ('','12', '수세미'))
#         cur.execute(sql, ('','12', '주방세제'))       
#         cur.execute(sql, ('','12', '식기류'))       
#         cur.execute(sql, ('','12', '조리도구'))       
#         cur.execute(sql, ('','13', '바디워시'))       
#         cur.execute(sql, ('','13', '샴푸'))
#         cur.execute(sql, ('','13', '린스/트리트먼트'))
#         cur.execute(sql, ('','13', '샤워볼'))       
#         cur.execute(sql, ('','14', '소고기'))       
#         cur.execute(sql, ('','14', '돼지고기'))       
#         cur.execute(sql, ('','14', '닭고기'))       
#         cur.execute(sql, ('','15', '손질채소'))
#         cur.execute(sql, ('','15', '뿌리채소'))
#         cur.execute(sql, ('','15', '열매채소'))       
#         cur.execute(sql, ('','15', '쌈채소'))       
#         cur.execute(sql, ('','16', '우유'))       
#         cur.execute(sql, ('','16', '요거트'))       
#         cur.execute(sql, ('','16', '치즈'))
#         cur.execute(sql, ('','17', '레토르트'))
#         cur.execute(sql, ('','17', '밀키트'))       
#         cur.execute(sql, ('','18', '이온음료'))       
#         cur.execute(sql, ('','18', '생수'))
#         cur.execute(sql, ('','18', '탄산음료'))
#         cur.execute(sql, ('','18', '주류'))
#         cur.execute(sql, ('','18', '쥬스'))
#         cur.execute(sql, ('','18', '커피'))
#         cur.execute(sql, ('','18', '어린이음료'))
#         conn.commit()

In [5]:
# #mysql 데이터 추가(product)

# conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
#                        user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
#                        db='b2c', charset='utf8')

# sql = "INSERT INTO product VALUES (%s,%s,%s, %s,%s,%s,%s, %s)"
# # id / category_small_id / name / price / image / brand / avg_star / regist_time

# # image url = /img/category_large/category_mid/category_small/product_id.png
# with conn:
#     with conn.cursor() as cur:
#         cur.execute(sql, ('','1', '반팔','10000','img','brand','4.2','2022-02-21 17:30:38'))
#         conn.commit()

In [410]:
import random
from strgen import StringGenerator

for i in range(91,101):
    for _ in range(10):
        j = random.randint(2900,3500) 
        print(j)
        star = round(random.random()*10%3+2,1)
        conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
                           user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
                           db='b2c', charset='utf8')
        sql_buy = "INSERT INTO buylist VALUES (%s,%s,%s,%s,%s)"
        sql = "INSERT INTO review VALUES (%s,%s,%s,%s,%s,%s,%s)"
        with conn:
            with conn.cursor() as cur:
                cur.execute(sql_buy, ('',i,j,1,'2022-05-21 17:30:38'))
                cur.execute(sql, ('',i,j,'good','',star,'2022-05-21 17:30:38'))
                conn.commit()

3105
2999
2900
3388
3305
3110
2903
3070
3193
3102
3436
2976
3494
3091
3450
3278
3320
3166
3001
3271
3435
3067
3101
3019
3149
3181
3028
3457
3242
3236
3432
3176
3173
2952
3434
3456
3421
3047
3249
3124
2945
3498
3418
3457
3262
3169
3156
3063
3012
3092
3098
3455
3212
3376
3443
3472
3497
2945
3093
3011
2990
2979
3014
2973
3123
3433
3155
2959
3152
3016
3105
2936
3038
3196
3076
3218
3007
3019
3051
3059
2930
3381
3401
3434
2928
3160
3064
3257
2962
3018
3201
3241
3186
3145
3082
3126
3250
3308
3476
3221

In [ ]:
conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
                           user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
                           db='b2c', charset='utf8')
        sql = "DELEDTE FROM taste WHERE user_id = %s"
        with conn:
            with conn.cursor() as cur:
                cur.execute(sql, (user_id))
                conn.commit()

In [398]:
year = [str(random.randint(1973,2021)).zfill(2) for _ in range(100)]
month = [str(random.randint(1,12)).zfill(2) for _ in range(100)]
day = [str(random.randint(1,28)).zfill(2) for _ in range(100)]
print(random.randint(1,3))

3

In [118]:
create table taste (
    id   int not null,
user_id  int not null,
product_id   int   not null)

Defaulting to user installation because normal site-packages is not writeable
Collecting StringGenerator
  Downloading StringGenerator-0.4.4.tar.gz (12 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: StringGenerator
  Building wheel for StringGenerator (setup.py) ... done
  Created wheel for StringGenerator: filename=StringGenerator-0.4.4-py3-none-any.whl size=12985 sha256=74062e61f1fa2bd32539c63fb7415404cc9bd3e84cb7d2dd0894fda3e2c522eb
  Stored in directory: /Users/kim-yongjun/Library/Caches/pip/wheels/7f/5f/c8/d112190a71cd7fec6b58a8c4ab184b7e2b0d79f8644c7183f3
Successfully built StringGenerator
Installing collected packages: StringGenerator
Successfully installed StringGenerator-0.4.4
WARNING: You are using pip version 21.3.1; however, version 22.1.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#mysql 데이터 추가(buylist)

conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
                       user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
                       db='b2c', charset='utf8')

sql = "INSERT INTO buylist VALUES (%s,%s,%s, %s,%s)"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, ('','1', '1','2','2022-02-21 17:30:38'))
        cur.execute(sql, ('','1', '3','1','2022-02-21 17:30:38'))
        cur.execute(sql, ('','1', '2','1','2022-02-21 17:30:38'))
        cur.execute(sql, ('','1', '5','1','2022-02-21 17:30:38'))
        conn.commit()

In [126]:
#mysql 데이터 추가(buylist)

conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
                       user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
                       db='b2c', charset='utf8')

sql = "INSERT INTO rank VALUES (%s,%s,%s,%s)"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, ('1','0', 'bronze','rank/bronze.jpeg'))
        cur.execute(sql, ('2','1000000', 'silver','rank/silver.jpeg'))
        cur.execute(sql, ('3','5000000', 'gold','rank/gold.jpeg'))
        cur.execute(sql, ('4','10000000', 'diamond','rank/diamond.jpeg'))
        conn.commit()